.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

.weather-container {
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  margin-right: 10px;
  width: 25rem;
  height: 1.8rem;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
}
button {
  text-transform: uppercase;
  border-radius: 5px;
  width: 8rem;
  height: 1.875rem;
  background-color: #f07f7f;
  color: white;
  border: none;
  cursor: pointer;
}

.weather-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
h1 {
  color: #f07f7f;
}
.weather-temperature {
  text-align: center;
}
